<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card text-white bg-secondary">
            <h3 class="card-header" style="text-align: center;">Login</h3>
            <div class="card-body p-5">
                <div *ngIf="isLoginError" style="text-align: center; color: red;">
                    <i class="fa fa-exclamation-circle"></i> Incorrect username or password
                </div>
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

                    <div class="form-group">
                        <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="alert alert-danger">
                            <div *ngIf="Email.errors.required">
                                Email is required.
                            </div>
                        </div>
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" name="Email" #Email="ngModel"
                            [(ngModel)]="email" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <div *ngIf="Password.invalid && (Password.dirty || Password.touched) && Password.errors.required"
                            class="alert alert-danger">
                            Password is required.
                        </div>
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" name="Password" #Password="ngModel"
                            [(ngModel)]="password" placeholder="Passsword" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" [disabled]="!loginForm.valid"
                            class="btn btn-primary form-control">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>