.bg-image {
    min-height         : 40rem !important;
    background-size    : cover;
    width              : auto;
    background-position: 50% 50%;
}

.section-padding {
    padding: 100px 20px !important;
}