.bg-image {
    min-height         : 51em !important;
    background-size    : cover;
    width              : auto;
    background-image   : url('../assets/images/main.jpg');
    background-position: 50% 50%;
}

.section-padding {
    padding: 100px 20px !important;
}